*{
    box-sizing: border-box;
}
body {
    background-color: rgb(155, 219, 240);
    color: white;}
#searchBox {
    text-align: center;
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
#demo{
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}