
*{
    box-sizing: border-box;
}
body {
    background-color: rgb(26, 27, 27);
    color: white;
}
#title-app {
    text-align: center;
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

#navigation{
    display: flex;
    justify-content: center;
}

.navigation{
    display: block;
    height: 3vw;
}

#navigation input{
    width: 10vw;
    margin-right: 0.5w;
    padding-left: 1vw;
    border-radius: 5px;
    font-size: 1vw;
}

#navigation button{
    width: 6vw;
    margin-right: 0.5vw;
    padding-left: 1vw;
    border-radius: 5px;
    color: white;
}

#navigation button:focus-visible{
    box-shadow: 0px 0px 3px 3px green;
}

#navigation button:active{
    border: white 1px solid;
    box-shadow: 0px 0px 3px 3px green;
}

#search{
    background-color: rgb(46, 46, 46);
}

#remove{
    background-color: red;
}

#result{
    width: 90vw;
    margin: 2vw 5vw 0vw 5vw;
    float: left;
}

#result img{
    width: 16vw;
    max-height: 15vw;
    margin: 1vw;
}
